@font-face {
  font-family: "rotulona";
  src: url("./font/rotulona-hand.ffp.ttf") ;
}

#banner {
  width: 600px;
  height: 100px;
  padding: 10px;
  margin: auto;
  text-align: center;
  font-size: 500%;
  color: white;
  font-family: rotulona;
}

button {
   height: 200px;
   width: 200px;
   border-radius: 100px;
   border: 10px solid black;
}
#box {
  height: 300px;
  width: 400px;
  display: inline-block;
  float: left;
  margin-left: 210px;
  margin-top: 300;
  margin: auto;
}
#player1 {
  float: left;
  padding: 70px 0;
  font-size: 18px;
  color: green;
  font-style: italic;
  font-weight: bold;

}
#player2 {
  float: right;
  padding: 70px 0;
  font-size: 18px;
  color: green;
  font-style: italic;
  font-weight: bold;
}
#scoreboard {
  height: 90px;
  width: 120px;
  padding: 5px;
  border: 5px solid green;
  margin: auto;
  margin-top: 200px;
  margin-left: 345px;
  color: black;
  background-color: BurlyWood;
  border-radius: 25px;
}
html {
  background: url("./images/sidewalktexture.jpg") no-repeat center fixed;
  background-size: cover;
}
.di {
  display: inline-block;
  vertical-align: middle;
  padding-left: 360px;
}
#reloadbutton {
  height: 40px;
  width: 60px;
  padding: 1px;
  border: 1px solid black;
  margin: auto;
  margin-top: 400px;
  background-color: white;
  margin-left: 350px;
}
.table{
  border-style: solid;
  font: rotulona;
}
